body, pre {
    font-family: Monaco,
                 "Bitstream Vera Sans Mono",
                 "Lucida Console",
                 Terminal,
                 monospace;
    font-size: 14;
}

a { cursor: pointer; }

.clear {
  clear: both;
  padding: 0:
  border: none;
}

.item {
    border: thin solid #ccc;
    margin-bottom: 5px;
    padding: 5px;
}

#content {
    border: thin solid #ccc;
    padding: 6px;
    width: 600px;
}


#debug {
  height: 40px;
  float: right;
}

#middle {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}


.P {
  margin: 0;
  align: bottom;
}

.P .label {
  border-top: thin solid black;
}

.label { font-size: 10; }

.L { float:left; }
.R { float: right; }
.leaf {
  margin: 0px 4px 0px 4px;
}

